---
import Layout from "../layouts/Layout.astro";
import Dashboard from "../components/Dashboard";
import ThemeToggle from "../components/ThemeToggle";
---

<Layout title="SpaceX Dashboard">
  <main class="max-w-[1500px]">
    <div class="m-8 md:m-12 relative">
      <ThemeToggle client:load />
      <p class="text-3xl font-semibold my-5">SpaceX Dashboard</p>
      <Dashboard client:load />
      <div class="w-full flex flex-col justify-center my-12 text-sm">
        <p class="w-full text-center">
          *This is not an official SpaceX website. All data is fetched from the
          <a
            class="text-primary"
            href="https://github.com/r-spacex/SpaceX-API"
            target="_blank">SpaceX-API</a
          > on Github.
        </p>
        <p class="w-full text-center">
          Made by <a
            class="text-primary-600"
            href="https://alexfedy.github.io/"
            target="_blank">alexfedy</a
          >
        </p>
      </div>
    </div>
  </main>
</Layout>
